{% extends 'gift-voucher/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
{% set selectedTab = selectedTab ?: 'general' %}
{% set fullPageForm = true %}
{% set pageTabs = {
    general: { title: 'General Settings' | t('gift-voucher'), url: url('gift-voucher/settings') },
    emails: { title: 'Emails' | t('gift-voucher'), url: url('gift-voucher/settings/emails') },
} %}
{% set pageTitle = pageTabs[selectedTab].title ?? pageTabs[selectedTab].heading ?? null %}
{% if not pageTitle %}{% exit 404 %}{% endif %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = selectedTab == 'general' ? 'gift-voucher/settings' : 'gift-voucher/settings/' ~ selectedTab %}

{% block settingsContent %}
    {% include 'gift-voucher/settings/_panes/' ~ selectedTab ignore missing %}
{% endblock %}
