{% extends "_layouts/cp" %}
{% hook 'giftVoucher.prepCpTemplate' %}

{% set title = "Voucher Codes" | t %}
{% set selectedSubnavItem = "voucherCodes" %}

{% set docTitle = title ~' - ' ~ craft.giftVoucher.getPluginName %}

{% set extraPageHeaderHtml %}
    {% if craft.giftVoucher.isLicensed %}
		<div id="newVoucherCode" class="buttons">
			<a href="{{ url('giftvoucher/codes/new') }}" class="btn submit add icon">{{ "New voucher code" | t }}</a>
		</div>
    {% else %}
		<div id="newVoucherCode" class="buttons">
			<a href="#" class="btn submit add icon disabled">{{ "New voucher code" | t }}</a>
			<span class="license-error">{{ "Please enter your license key first" | t }}</span>
		</div>
    {% endif %}
{% endset %}

{% set voucherCodes = craft.giftVoucher.getAllCodes() %}
{% set content %}
	<div id="noVoucherCodes"{% if voucherCodes %} class="hidden"{% endif %}>
		<p>{{ "No voucher codes exist yet." | t }}</p>
	</div>

    {% if voucherCodes|length %}
		<table id="voucherCodes" class="data fullwidth collapsible">
			<thead>
    			<th scope="col">{{ "Code" | t }}</th>
    			<th scope="col">{{ "Voucher" | t }}</th>
    			<th scope="col">{{ "Voucher Type" | t }}</th>
    			<th scope="col">{{ "Order" | t }}</th>
    			<th scope="col">{{ "Original Amount" | t }}</th>
    			<th scope="col">{{ "Current Amount" | t }}</th>
    			<th scope="col">{{ "Expiry Date" | t }}</th>
			</thead>
			<tbody>
            {% for voucherCode in voucherCodes %}
				<tr data-id="{{ voucherCode.id }}" data-name="{{ voucherCode.codeKey }}">
                    <th scope="row" data-title="{{ 'Code' | t }}"><a href="{{ url('giftvoucher/codes/' ~ voucherCode.id) }}">{{ voucherCode.codeKey }}</a></th>
                    {% if voucherCode.getVoucher() %}
					    <td scope="row" data-title="{{ 'Voucher' | t }}"><a href="{{ url('giftvoucher/vouchers/' ~ voucherCode.getVoucherType() ~ '/' ~ voucherCode.getVoucher().id) }}">{{ voucherCode.getVoucher().title|t }}</a></td>
					    <td scope="row" data-title="{{ 'Voucher Type' | t }}"><a href="{{ url('giftvoucher/vouchertypes/' ~ voucherCode.getVoucherType().id) }}">{{ voucherCode.getVoucherType().name|t }}</a></td>
                    {% else %}
					    <td scope="row" data-title="{{ 'Voucher' | t }}" colspan="2">Voucher deleted</td>
					{% endif %}

					<td scope="row" data-title="{{ 'Order' | t }}">
                        {% if voucherCode.getOrder() %}
							<a href="{{ voucherCode.getOrderEditUrl() }}">{{ voucherCode.getOrder() }}</a>
                        {% else %}
							Order deleted
	                    {% endif %}
					</td>

					<td data-title="{{ 'Original Amount' | t }}">{{ voucherCode.originalAmount }}</td>
					<td data-title="{{ 'Current Amount' | t }}">{{ voucherCode.currentAmount }}</td>
					<td data-title="{{ 'Expiry Date' | t }}"><code>{{ voucherCode.expiryDate }}</code></td>
					{#<td data-title="{{ 'Redeemed' | t }}">#}
                        {#{% if voucherCode.redeemed %}#}
                            {#<span class="status on"></span>#}
                        {#{% else %}#}
                            {#<span class="status"></span>#}
                        {#{% endif %}#}
                    {#</td>#}

					<td data-title="{{ 'Delete' | t }}">
                        {% if voucherCode.manually %}
							<a class="delete icon" title="{{ 'Delete' | t }}" role="button"></a>
                        {% endif %}
					</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
    {% endif %}
{% endset %}

{% set js %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#voucherCodes',
		noObjectsSelector: '#noVoucherCodes',
		newObjectBtnSelector: '#newVoucherCode',
		deleteAction: 'giftVoucher/codes/delete',
		confirmDeleteMessage: '{{ "Are you sure you want to delete code “{name}”?" | t }}'
	});
{% endset %}
{% includeJs js %}