{% extends '_layouts/cp' %}
{% set selectedSubnavItem = 'vouchers' %}

{% set crumbs = [
	{ label: 'Gift Voucher' | t('gift-voucher'), url: url('gift-voucher') },
	{ label: voucherType.name | t('gift-voucher'), url: url('gift-voucher/vouchers/' ~ voucherType.handle) },
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% import '_includes/forms' as forms %}
{% import 'gift-voucher/vouchers/_fields' as voucherFields %}

{% block header %}
    <div class="flex flex-nowrap">
        {{ block('pageTitle') }}
        {{ block('contextMenu') }}
    </div>

    <div class="flex">
        {% if showPreviewBtn or shareUrl is defined %}
            <div class="btngroup">
                {% if showPreviewBtn %}
                    <div id="preview-btn" class="btn livepreviewbtn">{{ 'Preview' | t('app') }}</div>
                {% endif %}

                {% if shareUrl is defined %}
                    <a id="share-btn" href="{{ shareUrl }}" class="btn sharebtn" target="_blank">{{ 'Share' | t('app') }}</a>
                {% endif %}
            </div>
        {% endif %}

        {{ block('actionButton') }}
    </div>
{% endblock %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        <div class="btn menubtn sitemenubtn" data-icon="world">{{ voucher.site.name | t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}

                    <li>
                        {% if siteId == voucher.siteId %}
                            <a class="sel" data-site-id="{{ siteId }}">
                                <div class="status {{ status }}"></div>{{ site.name | t('site') }}
                            </a>
                        {% else %}
                            {% set url = url("gift-voucher/vouchers/#{voucherTypeHandle}/#{craft.app.request.getSegment(4)}/#{site.handle}") %}

                            <a href="{{ url }}" data-site-id="{{ siteId }}">
                                <div class="status {{ status }}"></div>{{ site.name | t('site') }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('gift-voucher') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl | hash }}">
                        {{ 'Save and continue editing' | t('gift-voucher') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a>
                </li>

                {% if voucher.id %}
                    <li>
                        <a class="formsubmit" data-action="gift-voucher/vouchers/duplicate" data-redirect="{{ '{cpEditUrl}' | hash }}">
                            {{ 'Save as a new {type}' | t('gift-voucher', { type: voucher.lowerDisplayName() }) }}
                        </a>
                    </li>
                {% endif %}
            </ul>

            {% if voucher.id %}
                <hr>
                <ul>
                    <li>
                        <a class="formsubmit error" data-action="gift-voucher/vouchers/delete" data-confirm="{{ 'Are you sure you want to delete this voucher?' | t('gift-voucher') }}" data-redirect="{{ 'gift-voucher/vouchers' | hash }}">
                            {{ 'Delete' | t('gift-voucher') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
	<input type="hidden" name="action" value="gift-voucher/vouchers/save">
    <input type="hidden" name="typeId" value="{{ voucherType.id }}">
	{{ redirectInput('gift-voucher/vouchers') }}
    {{ csrfInput() }}
    	
    {% if voucher.id %}
        <input type="hidden" name="voucherId" value="{{ voucher.id }}">
    {% endif %}

    {% if craft.app.getIsMultiSite() %}
        <input type="hidden" name="siteId" value="{{ voucher.siteId }}">
    {% endif %}

	<div id="fields">
        {{ fieldsHtml | raw }}
    </div>

    {% if not voucher.slug %}
        {% js %}
            window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
        {% endjs %}
    {% endif %}
{% endblock %}

{% block details %}
    <div class="meta">
        {{ voucherFields.generalMetaFields(voucher) }}

        {{ forms.lightswitchField({
            label: 'Enabled' | t('gift-voucher'),
            id: 'enabled',
            name: 'enabled',
            on: voucher.enabled
        }) }}

        {% if craft.app.getIsMultiSite() %}
            {{ forms.lightswitchField({
                label: 'Enabled for site' | t('gift-voucher'),
                id: 'enabledForSite',
                name: 'enabledForSite',
                on: voucher.enabledForSite
            }) }}
        {% endif %}
    </div>

    <hr>

    <div class="meta">
        {{ voucherFields.behavioralMetaFields(voucher) }}
    </div>

    <hr>

    <div class="meta">
        {{ voucherFields.generalFields(voucher) }}
    </div>

    <hr>

    {% if voucher.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ 'Date Created' | t('gift-voucher') }}</h5>
                <div class="value">{{ voucher.dateCreated | date('short') }} {{ voucher.dateCreated | time('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Date Updated' | t('gift-voucher') }}</h5>
                <div class="value">{{ voucher.dateUpdated | date('short') }} {{ voucher.dateUpdated | time('short') }}</div>
            </div>
        </div>
	{% endif %}
	
	{% hook "cp.gift-voucher.voucher.edit.details" %}
{% endblock %}