{% macro titleField(voucher) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		label: "Title" | t,
		locale: voucher.locale,
		id: 'title',
		name: 'title',
		value: voucher.title,
		placeholder: 'Enter title' | t,
		errors: voucher.getErrors('title'),
		first: true,
		autofocus: true,
		required: true,
		maxlength: 255
	}) }}
{% endmacro %}

{% macro descriptionField(voucher) %}
    {%- import "_includes/forms" as forms -%}

    {{ forms.textAreaField({
        label: "Description" | t,
        instructions: "The description of the discount will be displayed after your redeemed the voucher in the cart." | t,
        id: 'description',
        name: 'description',
        value: voucher.description,
        errors: voucher.getErrors('description'),
    }) }}
{% endmacro %}

{% macro enabledFields(voucher) %}
    {%- import "_includes/forms" as forms -%}

    {% set statusInput %}
		<div class="left">
            {% if craft.giftVoucher.isLicensed %}
                {{ forms.lightswitch({
                    id: 'enabled',
                    name: 'enabled',
                    on: voucher.enabled,
                    disabled: false
                }) }}
            {% else %}
                {{ forms.lightswitch({
                    id: 'enabled',
                    name: 'enabled',
                    on: false,
                    disabled: true
                }) }}
            {% endif %}
		</div>

        {% if voucher.id and craft.request.getPath() != 'actions/elements/getEditorHtml' %}
			<div class="right">
				<input type="button"
					   class="btn small formsubmit"
					   value="{{ 'Delete' | t }}"
					   data-action="giftVoucher/vouchers/deleteVoucher"
					   data-confirm="{{ 'Are you sure you want to delete this voucher?' | t }}"
					   data-redirect="giftvoucher/vouchers">
			</div>
        {% endif %}
    {% endset %}

    {{ forms.field({
        id: 'enabled',
        label: 'Enabled?' | t
    }, statusInput) }}
{% endmacro %}

{% macro generalMetaFields(voucher) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		label: "Slug" | t,
		locale: voucher.locale,
		id: 'slug',
		name: 'slug',
		value: voucher.slug,
		placeholder: 'Enter slug' | t,
		errors: voucher.getErrors('slug')|merge(voucher.getErrors('uri'))
	}) }}
{% endmacro %}


{% macro behavioralMetaFields(voucher) %}
	{%- import "_includes/forms" as forms -%}

	{% if craft.commerce.getTaxCategories(true) | length > 1 %}
		{{ forms.selectField({
			label: 'Tax Category' | t,
			name: 'taxCategoryId',
			value: voucher.taxCategoryId,
			options: craft.commerce.getTaxCategories(true)
		}) }}
	{% else %}
        {{ forms.hidden({
            name: "taxCategoryId",
            value: voucher.taxCategoryId
        }) }}
	{% endif %}

    {% if craft.commerce.getShippingCategories(true) | length > 1 %}
		{{ forms.selectField({
			label: 'Shipping Category' | t,
			name: 'shippingCategoryId',
			value: voucher.shippingCategoryId,
			options: craft.commerce.getShippingCategories(true)
		}) }}
    {% else %}
        {{ forms.hidden({
            name: "shippingCategoryId",
            value: voucher.shippingCategoryId
        }) }}
    {% endif %}
{% endmacro %}


{% macro generalFields(voucher) %}
	{%- import "_includes/forms" as forms -%}

	{{ forms.textField({
		id: 'sku',
		label: 'SKU' | t,
		required: true,
		name: 'sku',
		value: voucher.sku,
		placeholder: 'Enter SKU' | t,
		errors: voucher.getErrors('sku')
	}) }}

{% endmacro %}

{% macro pricingFields(voucher) %}

	{%- import "_includes/forms" as forms -%}

	{{ forms.lightswitchField({
		id: 'customAmount',
		name: 'customAmount',
		on: voucher.customAmount,
		label: 'Custom amount? <span class="info">Allow customers to set their own amount when purchasing this voucher.</span>' | t
	}) }}

	{{ forms.textField({
		id: 'price',
		label: 'Price' | t,
		name: 'price',
		value: (voucher.price == '0' ? '0' | number : (voucher.price ?  voucher.price | number ?: '')),
		placeholder: 'Enter price' | t,
		unit: craft.commerce.primaryPaymentCurrency.iso,
		errors: voucher.getErrors('price'),
    }) }}

	{% if voucher.customAmount %}
        {% includejs %}
			$(function() {
				$('#price-field').hide();
			});
        {% endincludejs %}
	{% endif %}

{% endmacro %}

