{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: 'Gift Voucher' | t('gift-voucher'), url: url('gift-voucher/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = pageTabs ?? {
    general: { title: 'General Settings' | t('gift-voucher'), url: url('gift-voucher/settings') },
    emails: { title: 'Emails' | t('gift-voucher'), url: url('gift-voucher/settings/emails') },
} %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'gift-voucher') }}
{% endblock %}
