{% extends 'gift-voucher/_layouts' %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Voucher Types' | t('gift-voucher') %}
{% set selectedSubnavItem = 'voucherTypes' %}

{% set crumbs = [
    { label: 'Gift Voucher' | t('gift-voucher'), url: url('gift-voucher') },
    { label: 'Voucher Types' | t('gift-voucher'), url: url('gift-voucher/voucher-types') },
] %}

{% set editable = craft.app.config.general.allowAdminChanges %}

{% block actionButton %}
    {% if editable %}
        <a href="{{ url('gift-voucher/voucher-types/new') }}" class="btn submit add icon">{{ 'New voucher type' | t('gift-voucher') }}</a>
    {% endif %}
{% endblock %}

{% block blockContent %}
    <div id="types-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}

{% for type in craft.giftVoucher.getVoucherTypes() %}
    {% set tableData = tableData | merge([{
        id: type.id,
        title: type.name | t('site'),
        url: editable ? type.getCpEditUrl() : '',
        handle: type.handle | e,
        _showDelete: editable,
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        { name: '__slot:title', title: Craft.t('app', 'Name') },
        { name: '__slot:handle', title: Craft.t('app', 'Handle') },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#types-vue-admin-table',
        deleteAction: 'gift-voucher/voucher-types/delete',
        deleteConfirmationMessage: Craft.t('gift-voucher', "Are you sure you want to delete “{name}” and all its vouchers?"),
        emptyMessage: Craft.t('gift-voucher', 'No voucher types exist yet.'),
        tableData: {{ tableData | json_encode | raw }},
    });
{% endjs %}
