{% extends "_layouts/cp" %}

{% hook 'giftVoucher.prepCpTemplate' %}

{% import "_includes/forms" as forms %}

{% includeCssResource 'giftVoucher/css/GiftVoucherPlugin.css' %}

{% set title = (title is defined) ? title : craft.giftVoucher.getPluginName %}

{% set content %}
    {% block blockContent %}
        <p>blockContent</p>
    {% endblock %}

    <hr>
    
    <div id="plugin-footer">
        <div class="footer-left">
            {% switch craft.giftVoucher.getEdition() %}
                {% case -1 %}
                    {% set edition = '(Trial)' %}
                {% case 1 %}
                    {% set edition = '(Licensed)' %}
                {% default %}
                    {% set edition = '' %}
            {% endswitch %}

            <p class="plugin-text">{{ craft.giftVoucher.getPluginName }} {{ craft.giftVoucher.getPluginVersion }} {{ edition }}</p>
        </div>

        <div class="footer-right">
            <a class="plugin-credit" href="https://verbb.io" target="_blank">
                <span class="credit-love">Made with <span style="color: #e25555;">&#9829;</span> by</span>

                <div class="credit-pill">
                    <div class="credit-mask">
                        <div class="credit-wrap">
                            {% include 'giftVoucher/_svg/verbb-logo.svg' %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endset %}
